exclude: '^docs/'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0  # Use the ref you want to point at
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: mixed-line-ending
    -   id: pretty-format-json
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.8
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.790'
    hooks:
    -   id: mypy
#-   repo: https://github.com/pycqa/pydocstyle
#    rev: '5.1.1'
#    hooks:
#    -   id: pydocstyle
-   repo: https://github.com/PyCQA/bandit
    rev: '1.7.0'
    hooks:
    - id: bandit
      args: [--skip, "B101,B303,B110"]
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
    -   id: flake8
- repo: local
  hooks:
  -   id: tests
      name: Run pytest unit tests
      entry: pytest -v
      language: system
      types: [python]
      pass_filenames: false
      always_run: true
